@import "variables";

.annotation {
  position: absolute;
  pointer-events: none;
}

.annotation-root {

}

.selected-annotation, .selected-annotation > div {
  z-index: 101;
  box-shadow: 0px 0px 3px black;
}

.paragraph-sidebar {
  position: absolute;
  background-color: #0a84ff;
  height: 50px;
  width: 10px;
  z-index: 20;
  &-definition {
    background-color: $c-category-definition;
  }
  &-explosion {
    background-color: $c-category-explosion;
  }
  &-deletion {
    background-color: $c-category-deletion;
  }
  &-correction {
    background-color: $c-category-correction;
  }
  &-speculation {
    background-color: $c-category-speculation;
  }
  &-addition {
    background-color: $c-category-addition;
  }
}


.paragraph-custom {
  position: absolute;
  z-index: 20;
}
.squiggly-paragraph {
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 20px 40px; // default size
  width: 100%;
  height: 100%;
  opacity: 0.8;
  pointer-events: none;
}

.content-clipper {
  overflow: hidden;
  display: block;
}


.underline {
  position: absolute;
  border-bottom: 1px solid red;
  &-definition {
    border-color: $c-category-definition;
  }
  &-explosion {
    border-color: $c-category-explosion;
  }
  &-deletion {
    border-color: $c-category-deletion;
  }
  &-correction {
    border-color: $c-category-correction;
  }
  &-speculation {
    border-color: $c-category-speculation;
  }
  &-addition {
    border-color: $c-category-addition;
  }
}

.highlight {
  position: absolute;
  opacity: 0.2;
  &-definition {
    background-color: $c-category-definition;
  }
  &-explosion {
    background-color: $c-category-explosion;
  }
  &-deletion {
    background-color: $c-category-deletion;
  }
  &-correction {
    background-color: $c-category-correction;
  }
  &-speculation {
    background-color: $c-category-speculation;
  }
  &-addition {
    background-color: $c-category-addition;
  }
}
