.annotation {
  position: absolute;
  pointer-events: none;
}

.paragraph-sidebar {
  position: absolute;
  background-color: #0a84ff;
  height: 50px;
  width: 10px;
  z-index: 100;
}

.paragraph-custom {
  position: absolute;
  z-index: 100;
}
.squiggly-underline {
  background-image: url('data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNDAiIGhlaWdodD0iMTAiPgogIDxwYXRoIGQ9Ik0wIDUgcTEwIDEwIDIwIDAgcTEwIC0xMCAyMCAwIiBzdHJva2U9ImJsYWNrIiBmaWxsPSJ0cmFuc3BhcmVudCIvPgo8L3N2Zz4K');
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 20px 40px; // default size
  width: 100%;
  height: 100%;
  opacity: 0.8;
}