@import "variables";


#demo-workspace-scroll {
  height: calc(100% - 14vh - 3em);
  max-height: calc(100% - 14vh - 3em);
  overflow: scroll;
  position: relative;
  z-index: 100;
  padding-top: 100px;
}

#demo-sidebar-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding-top: 60px;
  left: 0;
  width: 100%;
  z-index: 9999;
  align-items: center;
  top: 17px;
  box-shadow: 0 0 1rem $c-light-secondary;
  background-color: $c-light-primary;
  border-bottom: 1px solid #d3d3d3;
}

.toggleCategoriesBtn{
  font-size: 80%;
  border-width: 0;
  width: fit-content;
  font-weight: 500;
  border-radius: 2rem;
  padding: 5px 15px;
  color: #F5F5F5;
  background-color: #757575;
  margin-bottom: 10px;
  cursor: pointer;
}

.category-text{
  font-size: 0.8rem;
  color:rgba(0,0,0,0.45);
  margin: 0;
}

#demo-category-selection{
  display: flex;
  flex-direction: row;
  margin: 15px 0 0 0;

  border-radius:  0 0.25rem 0.25rem 0;
  overflow: hidden;
}

.demo-category{
  width: 127px;

  display: flex;
  flex-direction: column;
  margin-right: 10px;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 0.75rem 0.7rem;
  border-radius:  0.375rem;
  border: 0.0625rem solid;
  overflow: hidden;
  font-weight: 700;
  margin-bottom: 10px;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.2);

  align-items: center;
  cursor: pointer;
  transition: 300ms ease-in-out;

  .demo-category-title{
    align-self: flex-start;
    margin-bottom: 0;
  }

  p{
    margin: 0;
  }

  .demo-category-desc{
    display: none;
    color:grey;
    font-size: 12px;
    font-weight: lighter;
    align-self: flex-start;
  }
}

.demo-categories-open{
  width: 200px;

  .demo-category-desc{
    display: block;
  }

  .demo-category-title{
    margin-bottom: 10px;
  }
}

.demo-category-definition {
  border-color: $c-category-definition;

  .demo-category-title{
    color: $c-category-definition;
  }

  &.category-active {
    background-color: rgba(105, 224, 168,0.2);
  }
}

.demo-category-explosion {
  border-color: $c-category-explosion;
  .demo-category-title {
    color: $c-category-explosion;
  }

  &.category-active {
    background-color: rgba(241, 189, 76,0.2);
  }
}

.demo-category-deletion {
  border-color: $c-category-deletion;
  .demo-category-title {
    color: $c-category-deletion;
  }

  &.category-active {
    background-color: rgba(235, 86, 131,0.2);
  }
}

.demo-category-correction {
  border-color: $c-category-correction;
  .demo-category-title {
    color: $c-category-correction;
  }

  &.category-active {
    background-color: rgba(56, 89, 162,0.2);
  }
}

.demo-category-speculation {
  border-color: $c-category-speculation;
  .demo-category-title{
    color: $c-category-speculation;
  }

  &.category-active {
    background-color: rgba(238, 122, 48,0.2);
  }
}

.demo-category-addition {
  border-color: $c-category-addition;

  .demo-category-title {
    color: $c-category-addition;
  }
  &.category-active {
    background-color: rgba(126, 160, 54, 0.2);
  }
}