@import "variables";

#demo {

}

.nav {
    &-meta {
        position: sticky;
        top: 0;
        background-color: red;
        height: calc(2 * 1rem + 1.25rem);
        z-index: 100;
    }

    &-tools {
        position: sticky;
        top: calc(2 * 1rem + 1.25rem);
        background-color: blue;
        height: calc(2 * 1rem + 1.25rem);
        z-index: 100;
    }
}

.meta {
    height: 400px;
    background-color: green;
}