@import "variables";

.post-it {
  outline: $s-workspace-post-it;
  height: calc($s-workspace-post-it - $s-workspace-post-it-border);
  width: $s-workspace-post-it;
  position: absolute;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 20;

  &-card {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &-inner {
    position: relative;
    padding-bottom: 2rem;
    height: calc(100% - 2rem);
    width: calc(100%);

  }

  &-username{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    color: #656565;
    font-family: "Source Code Pro", monospace, system-ui;
  }

  &-input {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    text-align: center;
    width: 100%;
    height: calc(100% - 2rem);
    background-color: transparent;
    border: none;
    resize: none;
    font-family: "Source Code Pro", monospace, system-ui;
    font-size: 16px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    cursor: inherit;

    &-selected {
      outline: none;
      cursor: text;
    }
  }

  &-definition {
    background-color: $c-category-definition-light;
  }

  &-explosion {
    background-color: $c-category-explosion-light;
  }

  &-deletion {
    background-color: $c-category-deletion-light;
  }

  &-correction {
    background-color: $c-category-correction-light;
  }

  &-speculation {
    background-color: $c-category-speculation-light;
  }

  &-addition {
    background-color: $c-category-addition-light;
  }
}


/*.post-it {
  position: absolute;
  width: $s-workspace-post-it;
  height: calc($s-workspace-post-it - $s-workspace-post-it-border);
  border-color: $c-dark-secondary;
  border-left: $s-workspace-post-it-border solid;
  border-top: $s-workspace-post-it-border solid;
  z-index: 20;

  &-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &-png {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &-input {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    text-align: center;

    padding: 1rem;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    resize: none;

    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;
    cursor: grab;

    &-selected {
      outline: 0.5rem solid $c-selected;
    }
  }
}*/


