@import "variables";

body {
  width: 100%;
  height: calc(100vh - max($s-nav-min-height, $s-nav-height));
}

.PdfHighlighter {
  position: absolute;
  display: flex;
  margin-top: 250px;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  transform-origin: top left; /* Only needed for transform: scale */
  background-color: white;
  height: unset;
}

.pdfViewer {

  background-color: $c-light-secondary;
  padding: 2rem;
}

.pdfViewer.removePageBorders .page {
  margin: 0 0 2rem 0;
}