@import "variables";


.sidebar {
    position: fixed;
    right: 0;
    top: calc(max($s-nav-min-height, $s-nav-height));
    height: calc(100% - max($s-nav-min-height, $s-nav-height));
    width: 480px;
    z-index: 9999;
    display: flex;
    background-color: white;

    &-deactivated {
        width: 2rem;
        .sidebar-content {
            display: none;
            width: 0;
        }
    }

    &-arrow {
        width: calc(2rem);
        border: none;
        padding: 0;
        height: 100%;
    }

    &-content {

        display: flex;
        flex-direction: column;
        width: calc(100% - 2rem - 2rem);
        padding: 1rem;
        overflow-y: auto;

        &-annotation {
            width: calc(100% - 1.5rem - 4px);
            padding: 0.5rem 0.75rem;
            border: 2px solid transparent;
            border-radius: 0.25rem;
            margin-bottom: 1rem;

            display: flex;
            flex-direction: column;

            &-header {

                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 1.5rem;
                width: 100%;
                margin-bottom: 0.25rem;

                &-user {
                    font-weight: 800;
                }

                &-date {
                    font-size: 0.75rem;
                    font-weight: 200;
                }
            }

            &-text {
                white-space: pre;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            &-definition {
                border-color: $c-category-definition;
            }

            &-explosion {
                border-color: $c-category-explosion;
            }

            &-deletion {
                border-color: $c-category-deletion;
            }

            &-correction {
                border-color: $c-category-correction;
            }

            &-speculation {
                border-color: $c-category-speculation;
            }

            &-addition {
                border-color: $c-category-addition;
            }
        }
    }
}