@import "variables";

.sidebar {
    position: fixed;
    right: 0;
    top: calc(max(calc($s-nav-min-height + 99px), calc($s-nav-height + 99px)));
    height: calc(100% - max(calc($s-nav-min-height + 99px), calc($s-nav-height + 99px)));
    width: 480px;
    z-index: 9998;
    display: flex;
    background-color: white;

    &-deactivated {
        width: 2rem;
        .sidebar-content {
            display: none;
            width: 0;
        }
    }

    &-arrow {
        width: calc(2rem);
        border: none;
        padding: 0;
        height: 100%;
        background-color: $c-light-tertiary;
    }

    &-content {

        display: flex;
        flex-direction: column;
        width: calc(100% - 2rem - 2rem);
        padding: 1rem;
        overflow-y: auto;
    }

    &-annotation {
        position: relative;
        width: calc(100% - 1.5rem - 4px);
        padding: 0.5rem;
        border: 2px solid transparent;
        border-radius: 0.25rem;
        margin-bottom: 1rem;

        display: flex;
        flex-direction: column;

        &:hover > &-delete {
            opacity: 1;
        }

        &-delete {

            width: 1rem;
            height: 1rem;
            background-color: rgb(220, 100, 100);
            border-radius: 0.25rem;
            position: absolute;
            top: -0.25rem;
            right: -0.25rem;
            cursor: pointer;
            overflow: hidden;
            opacity: 0;
            transition: opacity 0.1s;
        }

        &-text {
            line-height: 1.25rem;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        &-header {

            display: flex;
            align-items: center;
            height: 1.25rem;
            width: 100%;

            &-user {
                font-size: 0.75rem;
                font-weight: 600;
            }

            &-date {
                font-size: 0.75rem;
                font-weight: 200;
                margin-left: 0.5rem;
            }
        }

        &-comment {

            font-size: 0.9rem;
            border-top: 2px solid;
            padding: 0.5rem;
            margin-top: 0.5rem;

            &:last-of-type {
                padding-bottom: 0;
            }

            &-header {

                display: flex;
                align-items: center;
                height: 1.25rem;
                width: 100%;

                &-user {
                    font-size: 0.75rem;
                    font-weight: 600;
                }

                &-date {
                    font-size: 0.75rem;
                    font-weight: 200;
                    margin-left: 0.5rem;
                }
            }

            &-input {

                display: flex;
                height: 1.75rem;
                margin: 0.25rem 0;
                width: 100%;
                justify-content: space-between;

                &-hidden {
                    display: none;
                }

                input {
                    font-size: 0.75rem;
                    width: calc(100% - 6rem);
                    border: none;
                    border-bottom: 1px solid $c-light-tertiary;
                    border-radius: 0.125rem;
                    font-family: inherit;
                }

                &-send {
                    font-size: 0.75rem;
                    height: 1.25rem;
                    width: 4rem;
                    padding: 0.25rem 0.5rem;
                    background-color: $c-light-secondary;
                    border-radius: 0.125rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        background-color: $c-light-tertiary;
                        cursor: pointer;
                    }
                }
            }

            &-wrapper {
                &-hidden {
                    display: none;
                }
            }
        }

        &-control {

            display: flex;
            justify-content: space-between;
            width: 100%;

            &-input {
                font-size: 0.75rem;
                height: 1.25rem;
                width: 4rem;
                padding: 0.25rem 0.5rem;
                background-color: $c-light-secondary;
                border-radius: 0.125rem;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: $c-light-tertiary;
                    cursor: pointer;
                }
            }

            &-comments {
                font-size: 0.75rem;
                height: 1.25rem;
                padding: 0.25rem 0;
                border-radius: 0.125rem;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        &-definition {
            border-color: $c-category-definition;

            .sidebar-annotation-control-comments:hover {
                color: $c-category-definition;
            }
            .sidebar-annotation-comment {
                border-color: $c-category-definition;
            }
        }

        &-explosion {
            border-color: $c-category-explosion;

            .sidebar-annotation-control-comments:hover {
                color: $c-category-explosion;
            }
            .sidebar-annotation-comment {
                border-color: $c-category-explosion;
            }
        }

        &-deletion {
            border-color: $c-category-deletion;

            .sidebar-annotation-control-comments:hover {
                color: $c-category-deletion;
            }
            .sidebar-annotation-comment {
                border-color: $c-category-deletion;
            }
        }

        &-correction {
            border-color: $c-category-correction;

            .sidebar-annotation-control-comments:hover {
                color: $c-category-correction;
            }
            .sidebar-annotation-comment {
                border-color: $c-category-correction;
            }
        }

        &-speculation {
            border-color: $c-category-speculation;

            .sidebar-annotation-control-comments:hover {
                color: $c-category-speculation;
            }
            .sidebar-annotation-comment {
                border-color: $c-category-speculation;
            }
        }

        &-addition {
            border-color: $c-category-addition;

            .sidebar-annotation-control-comments:hover {
                color: $c-category-addition;
            }
            .sidebar-annotation-comment {
                border-color: $c-category-addition;
            }
        }
    }
}