@import "variables";

.tiny-text {
  position: absolute;
  height: 1.5rem;
  z-index: 19;
  overflow: hidden;

  &-input {
    color: inherit;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 0;
    resize: none;
    height: 100%;
    width: 100%;
    cursor: inherit;
    font-family: "Source Code Pro", monospace, system-ui;
    font-size: 1.25rem;
    font-weight: 800;

    &-wrapper {
      position: relative;
    }

    &-selected {
      cursor: text;
    }

    &-selected {
      outline: none;
      cursor: text;
    }
  }

  &-fake {
    font-weight: 800;
    font-size: 1.25rem;
    visibility: hidden;
    position: absolute;
  }

  &-definition {
    color: $c-category-definition;
  }

  &-explosion {
    color: $c-category-explosion;
  }

  &-deletion {
    color: $c-category-deletion;
  }

  &-correction {
    color: $c-category-correction;
  }

  &-speculation {
    color: $c-category-speculation;
  }

  &-addition {
    color: $c-category-addition;
  }
}
