@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
  font-family: 'Source Code Pro', monospace;
}

#workspace-scroll {
  height: calc(100% - 14vh - 3em);
  max-height: calc(100% - 14vh - 3em);
  overflow: scroll;
  position: relative;
  z-index: 100;
  padding-top: 100px;
}

#topbar-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding-top: 10px;
  left: 0;
  width: 100%;
  z-index: 9999;
  align-items: center;
  top: $s-nav-height;
  box-shadow: 0 0 1rem $c-light-secondary;
  background-color: $c-light-primary;
  border-bottom: 1px solid #d3d3d3;

}

.toggleCategoriesBtn{
  font-size: 100%;
  border-width: 0;
  width: fit-content;
  font-weight: 500;
  border-radius: 2rem;
  padding: 5px 15px;
  color: #F5F5F5;
  background-color: #757575;
  margin-bottom: 10px;
  cursor: pointer;
}

.category-text{
  font-size: 1rem;
  color:rgba(0,0,0,0.45);
  margin: 0;
}

#category-selected{
  display: flex;
  flex-direction: row;
  margin: 15px 0 0 0;

  border-radius:  0 0.25rem 0.25rem 0;
  overflow: hidden;
}

.category{
  width: 127px;

  display: flex;
  flex-direction: column;
  margin-right: 10px;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 0.75rem 0.7rem;
  border-radius:  0.375rem;
  border: 0.0625rem solid;
  overflow: hidden;
  font-weight: 700;
  margin-bottom: 10px;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.2);

  align-items: center;
  cursor: pointer;
  transition: 300ms ease-in-out;

  .category-title{
    align-self: flex-start;
    margin-bottom: 0;
  }

  p{
    margin: 0;
  }

  .category-desc{
    display: none;
    color:grey;
    font-size: 12px;
    font-weight: lighter;
    align-self: flex-start;
  }
}

#tools {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;

  border-radius:  0 0.25rem 0.25rem 0;
  overflow: hidden;
}

.categories-open{
  width: 200px;

  .category-desc{
    display: block;
  }

  .category-title{
    margin-bottom: 10px;
  }
}

.category-definition {
  border-color: $c-category-definition;

  .category-title{
    color: $c-category-definition;
  }

  &.category-active {
    background-color: rgba(77, 180, 213, 0.2);
  }
}

.category-explosion {
  border-color: $c-category-explosion;
  .category-title {
    color: $c-category-explosion;
  }

  &.category-active {
    background-color: rgba(255, 165, 0, 0.2);
  }
}

.category-deletion {
  border-color: $c-category-deletion;
  .category-title {
    color: $c-category-deletion;
  }

  &.category-active {
    background-color: rgba(255, 69, 0, 0.2);
  }
}

.category-correction {
  border-color: $c-category-correction;
  .category-title {
    color: $c-category-correction;
  }

  &.category-active {
    background-color: rgba(168, 70, 168, 0.2);
  }
}

.category-speculation {
  border-color: $c-category-speculation;
  .category-title{
    color: $c-category-speculation;
  }

  &.category-active {
    background-color: rgba(175, 138, 77, 0.2);
  }
}

.category-addition {
  border-color: $c-category-addition;

  .category-title {
    color: $c-category-addition;
  }
  &.category-active {
    background-color: rgba(60, 179, 113, 0.2);
  }
}

.styles{
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  border-radius: 0.7rem;
}

//Add Styles-Addition etc for each of the class
.styles-Definition{
  border: 0.5px solid $c-category-definition;
}

.styles-Explosion{
  border: 0.5px solid $c-category-explosion;
}

.styles-Deletion{
  border: 0.5px solid $c-category-deletion;
}

.styles-Correction{
  border: 0.5px solid $c-category-correction;
}

.styles-Speculation{
  border: 0.5px solid $c-category-speculation;
}

.styles-Addition{
  border: 0.5px solid $c-category-addition;
}

.toolbarItem {
  position: relative;
  svg {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.8);
  }
  aspect-ratio: 1 / 1;
  overflow: hidden;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-weight: 4;
  height: 41px;
  line-height: 2.5rem;
  width: 66px;
  border-right: 1px solid rgba(0, 0, 0, 0.08);

  &:last-of-type {
    margin: 0;
    border-right: 0;
  }
}

.tool-Definition{
  svg:first-child {
    .cls-1{
      fill: color-mix(in srgb, $c-category-definition, white 40%);
    }
  }
}

.tool-Explosion{
  svg:first-child {
    .cls-1{
      fill: color-mix(in srgb, $c-category-explosion, white 40%);
    }
  }
}

.tool-Deletion{
  svg:first-child {
    .cls-1{
      fill: color-mix(in srgb, $c-category-deletion, white 40%);
    }
  }
}

.tool-Correction{
  svg:first-child {
    .cls-1{
      fill: color-mix(in srgb, $c-category-correction, white 40%);
    }
  }
}

.tool-Speculation{
  //Target first SVG in the tool
  svg:first-child {
    .cls-1{
      fill: color-mix(in srgb, $c-category-speculation, white 40%);
    }
  }

}

.tool-Addition{
  //Target first SVG in the tool
  svg:first-child {
    .cls-1{
      fill: color-mix(in srgb, $c-category-addition, white 40%);
    }
  }

}

.add-post-it:hover {
  cursor: pointer;
}

.add-tool-item-active-Definition{
  background-color: rgba(77, 180, 213, 0.2);
  svg:first-child {
    .cls-1{
      fill: $c-category-definition;
    }
  }
}

.add-tool-item-active-Explosion{
  background-color:rgba(255, 165, 0, 0.2);
  svg:first-child {
    .cls-1{
      fill: $c-category-explosion;
    }
  }
}

.add-tool-item-active-Deletion{
  background-color: rgba(255, 69, 0, 0.2);
  svg:first-child {
    .cls-1{
      fill: $c-category-deletion;
    }
  }
}

.add-tool-item-active-Correction{
  background-color: rgba(168, 70, 168, 0.2);
  svg:first-child {
    .cls-1{
      fill: $c-category-correction;
    }
  }
}

.add-tool-item-active-Speculation {
  background-color: rgba(175, 138, 77, 0.2);
  svg:first-child {
    .cls-1 {
      fill: $c-category-speculation;
    }
  }
}

.add-tool-item-active-Addition{
  background-color: rgba(60, 179, 113, 0.2);
  svg:first-child {
    .cls-1{
      fill: $c-category-addition;
    }
  }
}
