:root {

    --s-panel-img: 35%;
    --s-border-radius: 0.25rem;
    --s-border: 2px;

    --c-light-primary: rgb(245, 245, 245);
    --c-light-secondary: rgb(225, 225, 225);
    --c-color-primary: #F5404D;
    --c-dark-primary: rgb(20, 20, 20);
    --c-dark-secondary: rgb(50, 50, 50);
}

body {

    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;

    background-color: var(--c-light-secondary);
    color: var(--c-dark-primary);
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

#nav {
    position: fixed;
    display: flex;
    padding: 0 1.5rem;
    height: 7vh;
    min-height: 3em;
    width: calc(100% - 3rem);
    align-items: center;
    top: 0;

    box-shadow: 0 0 5px var(--c-dark-secondary);
    background-color: var(--c-light-primary);
}

#nav > a {
    margin: 1.5rem;
}

#nav-title {
    font-size: 1.5rem;
    font-weight: 800;
}

#content {

    overflow: hidden;
    margin: max(3em, 7vh) 20% 0 20%;
    width: 50%;
    padding: 5%;
    min-height: calc(100% - max(3em, 7vh));

    background-color: var(--c-light-primary);
}