.list-container {
    border-radius: var(--s-border-radius);
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.list-item {
    width: calc(100% - 2rem - (2 * var(--s-border)));
    padding: 1rem;
    background-color: var(--c-light-secondary);
    border: var(--s-border) solid var(--c-light-secondary);
}

.list-item:nth-child(even) {
    background-color: var(--c-light-primary);
}