:root {

    --s-panel-img: 35%;
    --s-border-radius: 0.25rem;
    --s-border: 4px;

    --c-light-primary: rgb(245, 245, 245);
    --c-light-secondary: rgb(225, 225, 225);
    --c-color-primary: #F5404D;
    --c-dark-primary: rgb(20, 20, 20);
    --c-dark-secondary: rgb(50, 50, 50);
}

body {

    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;

    background-color: var(--c-light-secondary);
    color: var(--c-dark-primary);
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

#nav {
    position: fixed;
    display: flex;
    padding: 0 1.5rem;
    height: 7vh;
    min-height: 3em;
    width: calc(100% - 3rem);
    align-items: center;
    top: 0;

    box-shadow: 0 0 5px var(--c-dark-secondary);
    background-color: var(--c-light-primary);
}

#nav > a {
    margin: 1.5rem;
}

#nav-title {
    font-size: 1.5rem;
    font-weight: 800;
}

#content {

    overflow: hidden;
    margin: max(3em, 7vh) auto 0 auto;
    width: min(100%, 810px);
    padding: 3rem;
    min-height: 100%;

    background-color: var(--c-light-primary);
}

#fileUpload {
    border-radius: var(--s-border-radius);
    overflow: hidden;
    width: 100%;
    margin-bottom: 3rem;

    border: var(--s-border) solid var(--c-dark-secondary);
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-weight: 800;
    font-size: 1.5rem;
    color: var(--c-dark-secondary);
}