.list-container {
    border-radius: var(--s-border-radius);
    overflow: hidden;
    width: calc(100% - (2 * var(--s-border-radius)));
    display: flex;
    flex-direction: column;

    border: var(--s-border) solid var(--c-light-secondary);
}

.list-item {
    width: calc(100% - 2rem);
    padding: 1rem;
    font-weight: 600;
    background-color: var(--c-light-secondary);
}

.list-item:nth-child(even) {
    background-color: var(--c-light-primary);
}